body {
    margin: 0;
    font-family: Arial, sans-serif;
    --d: 2px;
    background: radial-gradient(circle at var(--d) var(--d),
            #cec2c2 calc(var(--d) - 1px),
            #0000 var(--d)) 0 0 / 25px 25px;
}

.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    flex: 0 0 auto;
    width: 100%;
    padding: 1em;
    background-color: #e6e6eb;
    border-bottom: 4px solid #848587;
    text-align: center;
}

.sidebar img {
    display: block;
    text-align: center;
    transition: all .3s ease-in;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border: 2px solid;
}

.main-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1em; */
}

#main-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.grid-container {
    width: 500px;
    margin: 0;
    display: grid;
    place-items: center;
    font: 700 12px system-ui;
    height: auto;
    position: relative;
    top: 45%;
    left: 15%;
}

.grid-item {
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.grid-item img.current {
    transition: all .3s ease-in;
}

img {
    height: 200px;
    width: 200px;
}

#current-tile {
    margin-bottom: 16px;
}

.active {
    background-color: #d3d3d3 !important;
    display: block;
    border: inset 3px #ffffff;
}

.disabled {
    display: none;
}

.button {
    display: flex;
    justify-content: space-around;
}

footer {
    font-size: 14px;
}

.main-content .content .nes-container {
    position: absolute;
    top: 3%;
    right: 1%;
    background-color: #fff;
    padding: 3px 4px;
    font-size: 12px;
}

footer {
    margin-top: 1em;
}

.sidebar button {
    font-size: 12px;
    padding: 5px 8px;
}

.main-content .button {
    position: absolute;
    bottom: 1%; 
    right: 1%;
}

@media(min-width: 768px) {
    .home {
        flex-direction: row;
    }

    .sidebar {
        width: 300px;
        height: 100vh;
        padding: 2em;
    }

    .sidebar img {
        width: 200px;
        height: 200px;
        border: 5px solid;
    }

    #current-tile {
        margin-bottom: 32px;
    }

    .main-content {
        flex: 1;
        /* padding: 2em; */
        position: relative;
        height: 100vh;
    }

    .grid-container {
        height: 100vh;
    }

    .button {
        position: absolute;
        bottom: 1em;
        right: 1em;
        flex-direction: column;
    }

    .button button {
        margin-bottom: 0.5em;
    }

    .sidebar button {
        font-size: inherit;
        margin-bottom: 1em;
        padding: 6px 8px;
    }

    .sidebar {
        border-right: 4px solid #848587;
    }

    footer {
        margin-top: 0;
    }

    .main-content .content .nes-container {
        font-size: inherit;
        padding: inherit;
    }

    .main-content .button {
        position: absolute;
        bottom: 0; 
        right: 1%;
    }
}