body,
html {
    height: 100%;
    margin: 0;
}

body {
    /* diameter of the circle */
    --d: 2px;
    background: radial-gradient(
        circle at var(--d) var(--d),
        #cec2c2 calc(var(--d) - 1px),
        #0000 var(--d)) 0 0 / 25px 25px;
}


.home {
    margin-top: 0;
    display: flex;
}

.text-center {
    text-align: center;
}

button {
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    border: solid #e1e0e1;
    background-color: #e1e0e1;
    color: #565456;
    padding: 2px 12px;
    font-weight: bold;
}

.sidebar {
    position: fixed;
    width: 25%;
    height: 100%;
    right: 0;
    background: #e6e6eb;
    padding: 25px;
    text-align: center;
    border-left: 4px solid #848587;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar .content {
    flex-grow: 1;
}

.sidebar img {
    display: block;
    text-align: center;
    transition: all .3s ease-in;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 5px solid;
}

.main-content {
    min-height: 100vh;
    width: 75%;
}

#main-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.grid-container {
    width: 500px;
    margin: 0;
    display: grid;
    place-items: center;
    font: 700 12px system-ui;
    height: 100vh;
    position: relative;
    top: 45%;
    left: 15%;
}

.grid-item {
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.grid-item img.current {
    transition: all .3s ease-in;
}

img {
    height: 200px;
    width: 200px;
}

#current-tile {
    margin-bottom: 32px;
}

.sidebar h1 {
    margin-bottom: 22px;
}

.active {
    background-color: #d3d3d3 !important;
    display: block;
    border: inset 3px #ffffff;
}

.disabled {
    display: none;
}

/* Responsive */

@media screen and (max-width: 780px) {
    .section-1 {
        width: 100%;
    }
}