* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0eff2;
    color: #373437;
}
.text-center {
    text-align: center;
}
button {
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    border: solid #e1e0e1;
    background-color: #e1e0e1;
    color: #565456;
    padding: 2px 12px;
    font-weight: bold;
}
.sidebar {
    position: absolute;
    right: 0;
    height: 400px;
    background: rgb(164, 154, 154);
    padding: 25px;
    height: 100%;
}
.sidebar img {
    display: block;
    text-align: center;
    transition: all .3s ease-in;
    height: 200px;
    width: 200px;
}
/* .grid-container {
    width: 500px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    grid-template-rows: repeat(5, 0fr);
    gap: 1px;
}

.grid-item {        
    background-color: #ccc; 
    border: 1px solid #000; 
    height: 200px;
    width: 200px;    
    cursor: pointer;    
} */

.grid-container {
    /* margin-top: 600px !important;
    width: 500px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-template-rows: repeat(3, 0fr);
    gap: 1px;
    position: relative; */

    position: fixed;
    height: 100vh;
    width: 500px;
    top: 50%;
    left: 50%;
    display: grid;
    place-items: center;
    font: 700 12px system-ui;
}

.grid-item {        
    background-color: #ccc; 
    /* border: 1px solid #000;  */
    height: 200px;
    width: 200px;    
    cursor: pointer;
    position: absolute;    
}

img {
    height: 200px;
    width: 200px;
}

#current-tile {
    margin-bottom: 20px;
}

/* Responsive */

@media screen and (max-width: 780px) {
    .section-1 {
        width: 100%;
    }
}